<p>
  <strong>Visit Number:</strong>
  <%= @encounter.visit_number %>
</p>
 
<p>
  <strong>Admitted At:</strong>
  <%= @encounter.admitted_at %>
</p>

<p>
  <strong>Discharged At:</strong>
  <%= @encounter.discharged_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @encounter.location %>
</p>

<p>
  <strong>Room:</strong>
  <%= @encounter.room %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @encounter.bed %>
</p>

<%= link_to 'Edit', edit_patient_encounter_path(@patient, @encounter) %> |
<%= link_to 'Back', patient_path(@patient) %>